body{
    font-family: "Times New Roman", Times, serif;
}
#root{
    padding: 0 60px;
}
.header{
    display: flex;
}

.details{
    width: 40%;
}

#comaximg{
    width: 60%;
    float: left;
}

.comaximg{
    width: 60%;
}
h1{
    text-align: center;
    color: red;
}


.textSize, li{
    font-size: 22px;
}

.myinput {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
    text-align: center;
}

.myinput:focus{
  border:none;	
  outline:none;
  border-bottom:1px solid #4caf50;	
  transition: 0.4s;
}

#signature-pad{
    border: solid;
    width: 400px;
    height: 160px;
}

#clear{
    display: flex;
    justify-content: center;
    text-align: center;
}
#signp{
    margin-top: 3%;
}

#sign{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#signbtn{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 1% 5%;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#signbtn:hover,
#signbtn:focus {
  opacity: .75;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#signature{
    width: 400px;
    height: 160px;
    object-fit: contain;
}