body{
    font-family: "Times New Roman", Times, serif;
}

.header{
    display: flex;
}

.details{
    width: 40%;
}

img{
    width: 60%;
    float: left;

}

.comaximg{
    width: 60%;
}
h1{
    text-align: center;
    color: red;
}

p:first-child{
    text-align: center;
    font-size: 1.5vw;
    line-height: 150%;
}


.numbers{
    position: relative;
    font-weight: bold;
    right: 20px;
}
.number1{
    padding-right: 40px;
}

.info{
    line-height: 150%;
    font-size: 1.3vw;
}

span{
    font-size: 1.3vw;
}

.alltext{
    padding: 0 50px;
}

#signature-pad{
    border: solid;
    width: 20vw;
}

#clear{
    margin-right: 6.5%;
}


#signp{
    margin-top: 3%;
}

#sign{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#signbtn{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 1% 5%;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


#signbtn:hover,
#signbtn:focus {
  opacity: .75;
}


    .myinput {
      border:0;
      border-bottom:1px solid #555;  
      background:transparent;
      padding:8px 0 5px 0;
      font-size:16px;
      color:rgb(0, 0, 0);
      text-align: center;
  }
  
  .myinput:focus{
    border:none;	
    outline:none;
    border-bottom:1px solid #4caf50;	
    transition: 0.4s;
  }
  

