table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #2B2B2B;
    border-style: solid;
    color: #FFFFFF;
    font-size: 1.5vw;
  }
  
    tbody td, tbody th {
    border-width: 2px;
    color: #2B2B2B;
    border-color: #2B2B2B;
    border-style: solid;
    padding: 5px;
  }
  
   thead {
    background-color: #000000;
  }

  a{
    text-decoration: none;
    color: #2B2B2B;
  }

  a:hover{
    text-decoration: underline;
  }

  #workerDisplay{
    display: flex;
    justify-content: center;
  }
  .mycenter{
    text-align: center;
    width: 65%;
    margin: auto;
  }
  .mycenter>span {
    color: #FFFFFF;
  }

  .containsearch{
    display: flex;
    justify-content: center;
  }

/* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.mysearch{ width: 50%; position: relative;margin: 2%; display: flex;justify-content: center;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


#search{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
#search ~ .focus-border:before,
#search ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.3s;}
#search ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
#search ~ .focus-border i:before,
#search ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.4s;}
#search ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
#search:focus ~ .focus-border:before,
#search:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
#search:focus ~ .focus-border i:before,
#search:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 150px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-6 {
   background: rgb(223, 93, 93);
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: rgb(223, 93, 93);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  color: #000;
  background: transparent;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: rgb(223, 93, 93);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

.btn-7 {
  background: rgb(54, 50, 50);
 color: #fff;
 line-height: 42px;
 padding: 0;
 border: none;
}
.btn-7 span {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
}
.btn-7:before,
.btn-7:after {
 position: absolute;
 content: "";
 height: 0%;
 width: 2px;
 background: rgb(54, 50, 50);
}
.btn-7:before {
 right: 0;
 top: 0;
 transition: all 500ms ease;
}
.btn-7:after {
 left: 0;
 bottom: 0;
 transition: all 500ms ease;
}
.btn-7:hover{
 color: #000;
 background: transparent;
}
.btn-7:hover:before {
 transition: all 500ms ease;
 height: 100%;
}
.btn-7:hover:after {
 transition: all 500ms ease;
 height: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
 position: absolute;
 content: "";
 background: rgb(54, 50, 50);
}
.btn-7 span:before {
 left: 0;
 top: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-7 span:after {
 right: 0;
 bottom: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-7 span:hover:before {
 width: 100%;
}
.btn-7 span:hover:after {
 width: 100%;
}


.btn-8 {
  background: #3fa5f9;
 color: #fff;
 line-height: 42px;
 padding: 0;
 border: none;
}
.btn-8 span {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
}
.btn-8:before,
.btn-8:after {
 position: absolute;
 content: "";
 height: 0%;
 width: 2px;
 background: #3fa5f9;
}
.btn-8:before {
 right: 0;
 top: 0;
 transition: all 500ms ease;
}
.btn-8:after {
 left: 0;
 bottom: 0;
 transition: all 500ms ease;
}
.btn-8:hover{
 color: #000;
 background: transparent;
}
.btn-8:hover:before {
 transition: all 500ms ease;
 height: 100%;
}
.btn-8:hover:after {
 transition: all 500ms ease;
 height: 100%;
}
.btn-8 span:before,
.btn-8 span:after {
 position: absolute;
 content: "";
 background: #3fa5f9;
}
.btn-8 span:before {
 left: 0;
 top: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-8 span:after {
 right: 0;
 bottom: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-8 span:hover:before {
 width: 100%;
}
.btn-8 span:hover:after {
 width: 100%;
}

.btn-9 {
  background: #718394;
 color: #fff;
 line-height: 42px;
 padding: 0;
 border: none;
}
.btn-9 span {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
}
.btn-9:before,
.btn-9:after {
 position: absolute;
 content: "";
 height: 0%;
 width: 2px;
 background: #718394;
}
.btn-9:before {
 right: 0;
 top: 0;
 transition: all 500ms ease;
}
.btn-9:after {
 left: 0;
 bottom: 0;
 transition: all 500ms ease;
}
.btn-9:hover{
 color: #000;
 background: transparent;
}
.btn-9:hover:before {
 transition: all 500ms ease;
 height: 100%;
}
.btn-9:hover:after {
 transition: all 500ms ease;
 height: 100%;
}
.btn-9 span:before,
.btn-9 span:after {
 position: absolute;
 content: "";
 background: #718394;
}
.btn-9 span:before {
 left: 0;
 top: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-9 span:after {
 right: 0;
 bottom: 0;
 width: 0%;
 height: 2px;
 transition: all 500ms ease;
}
.btn-9 span:hover:before {
 width: 100%;
}
.btn-9 span:hover:after {
 width: 100%;
}

#sum{
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 700;
}

.signed{
  background-color: #7fe483;
}

.not-signed{
  background-color: #e47f7f;
}

select {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  border: solid 1px rgba(255, 255, 255, 0.37);
  color: #fff;
  font-size: 0.9rem;
}

option {
  color: black;
}

.edit-icon{
  cursor: pointer;
}

/* 
.mysearch{
  padding: 2%;
  width: 60%;
  margin: auto;
}
  #search {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
}

#search:focus{
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
} */
